h1 {
    color: yellow;
    font-size: 80px;
}


h2 {
    color: palevioletred;
    font-size: 70px;
}
*{
 color: white; 
 font-size: 60px;
}

body  {

background-image: url(/static/Header-image-optimize-to-do-list-scaled.jpg);
}

input[type='checkbox'] {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
}
input[type='checkbox']:checked {
    background-color: pink;
}