<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My To-do list</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <h1 id="head1">My to-do list</h1>
       
        <h2>Weekday</h2>
        <form action="/action_page.php">
            <input type="checkbox" >
            Wake up at 10 am<br>
            <input type="checkbox" >
            Meditate for 5 mins<br>
            <input type="checkbox" >
            Water the plants<br>
            <input type="checkbox" >
            Go for a walk<br>
            <input type="checkbox" >
            Breakfast<br>
            <input type="checkbox" >
            start working/studying<br>



        </form>
        <h3></h3>
    </body>
</html>